<html>
    <head>
        <title>$action.getActionName( $action.class.name )</title>
    </head>

    <body>
        #parse ("/doctheme/templates/configuretheme-common.vm")
        #parse ("/breadcrumbs.vm")
    </body>
</html>
