<html>
	<script language="JavaScript" type="text/javascript">
		var ldProperties = new LDProperties('$req.contextPath', LD.ConfluenceActions);
		ldProperties.addAjaxListeners();
	</script>
    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        #decoratorParam("context" "space-administration")
        #decoratorParam("mode"  "view-space-administration")

        #applyDecorator ("root")
            #decoratorParam ("context" "spaceadminpanel")
            #decoratorParam ("selection" "EditServerProperties")
            #decoratorParam ("title" $action.name)
            #decoratorParam ("selectedTab" "admin")
            #decoratorParam("helper" $action.helper)

			<div>
				<div id="registrationPane_display" class="sp_configPane" >	
					<script language="javascript" type="text/javascript">ldProperties.getRegistration('$action.spaceKey');</script>
				</div>
			</div>
			<div>
				<table class="sp_footer" cellspacing="0" cellpadding="0">
					<tr>
						<td class="sp_msg">
							<span id="waiting_display" class="ldSmallText">
								<img src="$req.contextPath/download/resources/info.novatec.testit.livingdoc.confluence.plugin:livingdoc.configuration/images/wait_12.gif" alt="" border="0">
								&nbsp;$action.getText('livingdoc.properties.working')
							</span>
							<span id="systemError_display" class="ldSmallErrMsg" style="display:none;">$action.getText('livingdoc.properties.systemerror')</span>
						</td>
						<td class="sp_powered">
							<span class="sp_powered">$action.getText('livingdoc.properties.poweredby')</span>&nbsp;<a href="http://aqe.novatec-gmbh.de" target="_blank"><img src="$req.contextPath/download/resources/info.novatec.testit.livingdoc.confluence.plugin:livingdoc.configuration/images/nt_logo_16.gif" class="centeredImage" alt="" border="0"></a>
						</td>
					</tr>
				</table>
			</div>

		#end
    #end
</html>