<tr bgcolor="#ffffff">
    <td>
    	<a name="livingdoc-historic">
    	<font color="#006600"> <b>{livingdoc-historic}</b> </font>
    </td>
    <td>
        <p>$livingDoc.getText('livingdoc.historic.helpdesc')</p>
		<p>$livingDoc.getText('livingdoc.macros.seealso')&nbsp;<a href="http://www.greenpeppersoftware.com/confluence/display/GP/Confluence+Macros">$livingDoc.getText('livingdoc.macros.guide')</a></p>
    </td>
</tr>