<tr bgcolor="#ffffff">
    <td>
    	<a name="livingdoc-hierarchy">
    	<font color="#006600"> <b>{livingdoc-hierarchy}</b> </font>
    </td>
    <td>
        <p>$livingDoc.getText('livingdoc.hierarchy.helpdesc')</p>
		<p>$livingDoc.getText('livingdoc.macros.seealso')&nbsp;<a href="http://www.greenpeppersoftware.com/confluence/display/GP/Confluence+Macros">$livingDoc.getText('livingdoc.macros.guide')</a></p>
    </td>
</tr>