<tr bgcolor="#ffffff">
    <td>
    	<a name="livingdoc-import">
    	<b><font color="#006600">{livingdoc-import}</font></b>
    </td>
    <td>
        <p>$livingDoc.getText('livingdoc.import.helpdesc')</p>
		<p>$livingDoc.getText('livingdoc.macros.seealso')&nbsp;<a href="http://www.greenpeppersoftware.com/confluence/display/GP/Confluence+Macros">$livingDoc.getText('livingdoc.macros.guide')</a></p>
    </td>
</tr>
