<html>
    <head>
        <title>$action.getActionName( $action.class.name )</title>

    </head>

    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        #decoratorParam("context" "space-administration")
        #decoratorParam("mode"  "view-space-administration")

        <body>
            #applyDecorator ("root")
                #decoratorParam ("context" "spaceadminpanel")
                #decoratorParam ("selection" "choosetheme")
                #decoratorParam ("title" "Space Theme")
                #decoratorParam ("selectedTab" "admin")
                #decoratorParam("helper" $action.helper)

                #parse ("/doctheme/templates/configuretheme-common.vm")
            #end
        </body>
    #end
</html>
