#if($action.readonly)<span id="readonly" style="display:none"></span>#end

<div class="stepTitle">
	<h2>$action.getText('livingdoc.filesystem.title')
		#if(!$action.editMode)<span id="fileSystemEdit_edit"><button type="button" class="aui-button sp_configButtonRight" onclick="ldProperties.editFileSystem();"><span class="aui-icon aui-icon-small aui-iconfont-edit">Edit</span> $action.getText('livingdoc.filesystem.edit')</button></span>#end
	</h2>
</div>
#if (!$action.actionErrors.isEmpty() && !$errorDisplayed)
	#set($errorDisplayed = true)
    <div id="runnersPaneError_display"
       class="aui-message error">
       <p class="title">
       		<span class="aui-icon icon-error"></span>
           <strong>Error!</strong>
       </p>
       <p class="ldErrMsg">#foreach($error in $action.actionErrors)
           $action.getText($error) #end</p>
   </div>
#end
</div>
#if($action.isServerReady)
	
	<p>$action.getText('livingdoc.filesystem.desc')</p>
	<form class="aui long-label">
		#if(!$action.editMode)
			#parse('templates/livingdoc/configuration/filesystem/fileSystem.vm')
		#else
			#parse('templates/livingdoc/configuration/filesystem/fileSystemEdit.vm')
		#end
	</form>
#end