<script language="javascript">
function ${executionUID}_showExecutionResult(id)
{
    ${executionUID}_openWin('$req.contextPath/livingdoc/ShowExecutionResult.action?decorator=none&spaceKey=$settings.spaceKey&id=' + id, "historic");
}
function ${executionUID}_showHistoricChart(id)
{
    ${executionUID}_openWin('$req.contextPath/livingdoc/ShowHistoricChart.action?decorator=none&spaceKey=$settings.spaceKey&sut=$settings.sut&width=$settings.popupWidth&height=$settings.popupHeight&maxResult=$settings.getMaxResult()&showIgnored=$settings.showIgnored&id=' + id, "historicchart");
}
function ${executionUID}_openWin(url, winname)
{
#set($widthW = $settings.popupWidth + 25)
#set($heightW = $settings.popupHeight + 25)
    var widthW = $widthW; var heightW = $heightW;
    var widthL; var heightL;
    if( typeof( window.innerWidth ) == 'number' )
    {
        widthL = (window.innerWidth - widthW)/2;
        heightL = (window.innerHeight - heightW)/2;
    }
    else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) )
    {
        widthL = (document.documentElement.clientWidth - widthW)/2;
        heightL = (document.documentElement.clientHeight - heightW)/2;
    }
    else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) )
    {
        widthL = (document.body.clientWidth - widthW)/2;
        heightL = (document.body.clientHeight - heightW)/2;
    }
    window.open(url, winname,"left="+widthL+",top="+heightL+",width="+widthW+",height="+heightW+",resizable=1,toolbar=0,scrollbars=1,location=0,menubar=0");
}
</script>

$!chartMapHtml

<img id="${executionUID}_chart" src="$chartImage" width="$settings.width" height="$settings.height" title="$settings.title" alt="$settings.title" border="0" usemap="$chartMapId"></img>