<script language="JavaScript" type="text/javascript">
    AJS.toInit(function() {
        if(!AJS.$("#livingdoc_header_display").length) {
            AJS.$('<div id="livingdoc_header_display" class="conf_pageMacro"></div> \
                <div id="conf_results_${action.bulkUID}_${action.executionUID}_0"></div>').insertBefore("#main-content");

            conf_livingDoc.loadHeader('$req.contextPath', '$action.spaceKey', '$action.page.id');
        }
    });
</script>