<tr bgcolor="#ffffff">
    <td>
    	<a name="livingdoc-info">
    	<font color="#006600"> <b>{livingdoc-info}</b></font>
    </td>
    <td>
        <p>$livingDoc.getText('livingdoc.info.helpdesc')</p>
		<p>$livingDoc.getText('livingdoc.macros.seealso')&nbsp;<a href="https://testit-livingdoc.atlassian.net/wiki/display/CURDOC/Confluence+plugin#Confluenceplugin-InfoMacro">$livingDoc.getText('livingdoc.macros.guide')</a></p>
    </td>
</tr>