<tr bgcolor="#ffffff">
    <td>
    	<a name="livingdoc-children">
    	<font color="#006600"> <b>{livingdoc-include}</b> </font>
    </td>
    <td>
        <p>$livingDoc.getText('livingdoc.include.helpdesc')</p>
		<p>$livingDoc.getText('livingdoc.macros.seealso')&nbsp;<a href="https://testit-livingdoc.atlassian.net/wiki/display/CURDOC/Confluence+plugin#Confluenceplugin-IncludeMacro">$livingDoc.getText('livingdoc.macros.guide')</a></p>
    </td>
</tr>