#requireResourcesForContext("livingdoc-context")
<tr>
	<td class="conf_pageMacro" colspan="2">
		#set($msg = $livingDoc.enable($page.spaceKey))
		#if($msg)
			<div>#parse("/templates/livingdoc/confluence/macros/livingDocLogo.vm")<span id="livingdoc_header_error" class="conf_smallErrMsg">$msg</span></div>
		#else
			<div id="livingdoc_header_display">
				<script language="JavaScript" type="text/javascript">addLoadEvent("conf_livingDoc.loadHeader('$req.contextPath', '$page.spaceKey', '$page.id');");</script>
			</div>
		#end
	<td>
</tr>