#requireResource("confluence.web.resources:aui-forms")
#set($editMode = "true")


#parse ( "/template/includes/actionerrors.vm" )

#applyDecorator("form-aui")
    #decoratorParam("formName" "configuredoctheme")
    #decoratorParam("submitAction"  "doconfiguretheme.action")
    #decoratorParam("editAction" "doconfiguretheme.action")
    #decoratorParam("editMode" "true")
    <fieldset>
        <h2>$action.getText('doctheme.label.navigation')</h2>
        #bodytag( "Component" "label='doctheme.label.tree'" "name='treeEnabled'" "value=$treeEnabled" "theme='aui'" "template='onofflist.vm'")
            #param ("description" "$action.getText('doctheme.description.tree')")
        #end
        
        #bodytag( "Component" "label='doctheme.label.space.search'" "name='spaceSearchEnabled'" "value=$spaceSearchEnabled" "theme='aui'" "template='onofflist.vm'")
            #param ("description" "$action.getText('doctheme.description.search.settings')")
        #end
        
        #bodytag ("Component" "name='navigationText'" "template='textarea.vm'" "theme='aui'")
            #param ("label" "$action.getText('doctheme.label.navigation')")
            #param ("rows" 8)
            #param ("cols" 70)
            #param ("description" $action.getText("doctheme.description.navigation"))
            #param ("renderWiki" $blockWikiStyleRenderer)
        #end
     </fieldset>
     <fieldset>
        <h2>$action.getText('doctheme.label.messages')</h2>
        #bodytag ("Component" "name='headerText'" "template='textarea.vm'" "theme='aui'")
            #param ("label" "$action.getText('doctheme.label.header')")
            #param ("rows" 8)
            #param ("cols" 70)
            #param ("description" $action.getText("doctheme.description.header"))
            #param ("renderWiki" $blockWikiStyleRenderer)
        #end
        #bodytag ("Component" "name='footerText'" "template='textarea.vm'" "theme='aui'")
            #param ("label" "$action.getText('doctheme.label.footer')")
            #param ("rows" 8)
            #param ("cols" 70)
            #param ("description" $action.getText("doctheme.description.footer"))
            #param ("renderWiki" $blockWikiStyleRenderer)
        #end
    </fieldset>
    #form_xsrfToken()
    #tag("Hidden" "name='key'")
    #bodytag( "Submit" "theme='aui'" )
        #param ("submitValue" "$action.getText('save.name')")
    #end
#end

